$primary-color: white;
$max-roxo: #7E00D8;

@import url('https://fonts.googleapis.com/css2?family=Oriole&display=swap');

// Estilos globais
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Estilos globais
body {
  background-image: linear-gradient(#7E00D8, rgb(0, 140, 255));
}

// Estilos globais
.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1138em;
  text-decoration: inherit;
  text-transform: inherit;
  box-sizing: border-box;
}

// estilos do container principal
#root {
  height: (100vh - 4vh);
  background-color: $primary-color;
  border-radius: 30px;
  overflow: hidden;
  margin: 2vh;
}

// estilos da barra lateral
.sidebar {
  display: flex;
  width: 300px;
  flex-direction: column;
  border-right: 2.5px solid #ccc;
  height: 100%;

  ul {
    list-style-type: none;
    padding: 20px;

    li {
      position: relative;

      a {
        display: block;
        padding: 25px;
        text-decoration: none;
        transition: all 0.3s;
        position: relative;

        &:hover {
          font-weight: bold;
        }

        &.active {
          font-weight: bold;
          background-color: $max-roxo;
          color: #fff;
          border-radius: 10px;
        }

        &:not(.active) {
          color: #ccc;
        }

        .icon {
          margin-right: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    width: auto;

    ul {
      li {
        a {
          padding: 15px;

          // centraliza o icone
          .icon {
            margin-right: auto;
            margin-left: auto;
            height: 15px;
          }

          span {
            display: none;
          }
        }
      }
    }
  }
}


.content {
  flex: 1; // O conteúdo ocupa o espaço restante
  padding: 20px;
  overflow: scroll;
}

// Estilos para os vídeos
.videos-container {
  display: flex;
  flex-wrap: wrap;

  .video-card {
    position: relative;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid $max-roxo;
    cursor: pointer;
    margin: 20px;

    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    }

    .video-thumbnail {
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .video-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      color: $max-roxo;
      text-overflow: ellipsis;
    }

    .video-description {
      font-size: 14px;
      margin-bottom: 10px;
      text-overflow: ellipsis;
    }

    .delete-button {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 18px;
      color: $max-roxo;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      background-color: #f8f8f8;
    }
  }
}

.videos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  // Estilos do botão "Adicionar Vídeo"
  .add-button {
    background-color: #7E00D8;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0px 20px 0px 0px;
    cursor: pointer;

    &:hover {
      background-color: #6A00A3;
    }
  }
}

// Estilos do modal
.modal {
  background-color: #fff;
  padding: 50px 200px 50px 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border: #7E00D8 2px solid;

  h2 {
    margin-bottom: 10px;
  }

  form {
    margin-top: 20px;

    div {
      margin-bottom: 10px;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .buttons {
      margin-top: 20px;

      button {
        margin-left: 10px;
        padding: 10px 16px;
        background-color: #7E00D8;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #6A00A3;
        }

        &:last-child {
          background-color: #ccc;
          color: #fff;

          &:hover {
            background-color: #999;
          }
        }
      }
    }
  }
}

.users-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .add-button {
    background-color: #7E00D8;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0px 20px 0px 0px;

    cursor: pointer;
    margin-bottom: 30px;

    &:hover {
      background-color: #6A00A3;
    }
  }

  table.user-table {
    border-collapse: collapse;
    margin-right: 20px;
    border: 2px solid #7E00D8;

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #7E00D8;
    }

    th {
      background-color: #7E00D8;
      color: #fff;
    }
  }

  ul {
    list-style-type: none;
    margin-bottom: 20px;

    li {
      margin-bottom: 10px;
    }
  }
}
